@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
}
h2 {
  color: rgba(0, 0, 255, 0.824);
  border-bottom: 1px solid darkgrey;
  padding-bottom: 10px;
  font-size: 30px;
}
.goals {
  border: 10px solid blue;
  padding: 20px;
}
.goals-item {
  border-bottom: 1px solid darkgrey;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
h3 {
  font-size: 30px;
}
.team {
  border: 10px solid blue;
  padding: 20px;
}
/* màn hình laptop */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 1170px;
    margin: auto;
    border: 20px solid blue;
    font-size: 20px;
  }
  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }
  .goals-item {
    display: flex;
  }
  .teamt {
    display: flex;
  }
  .icon {
    display: inline-block;
    font-size: 50px;
    margin-right: 30px;
  }

  .scopes {
    border: 10px solid blue;
    padding: 20px;
    grid-row: 2/2;
  }
  .scopes__flex {
    display: flex;
    gap: 40px;
  }
  .primary {
    border: 10px solid blue;
    padding: 20px;
    grid-row: 2/3;
  }
  .prima {
    display: flex;
  }
  .timeline {
    border: 10px solid blue;
    padding: 20px;
    grid-row: 3/-1;
  }
  .time {
    display: flex;
    border-bottom: 1px dashed darkgrey;
  }
  .line {
    display: inline-block;
    border-radius: 50%;
    padding: 20px;
    border: 2px solid darkgrey;
    color: aliceblue;
    background-color: rgba(100, 15, 179, 0.582);
    margin-right: 20px;
    margin-top: 20px;
  }
}
/* màn hình máy tính bảng */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    margin: 0;
    border: 20px solid blue;
    font-size: 20px;
  }

  .scopes {
    border: 10px solid blue;
    padding: 20px;
  }
  .primary {
    border: 10px solid blue;
    padding: 20px;
  }
  .timeline {
    border: 10px solid blue;
    padding: 20px;
  }
  .time {
    border-bottom: 1px dashed darkgrey;
    margin: 30px 0;
  }
  .line {
    display: inline;
    border-radius: 50%;
    padding: 10px;
    border: 2px solid darkgrey;
    color: aliceblue;
    background-color: rgba(100, 15, 179, 0.582);
  }
  .icon {
    display: flex;
    justify-content: center;
    font-size: 40px;
  }
}
/* màn hình điện thoại */
@media only screen and (max-width: 576px) {
  .container {
    margin: 0;
    border: 20px solid blue;
    font-size: 20px;
  }

  .scopes {
    border: 10px solid blue;
    padding: 20px;
  }
  .primary {
    border: 10px solid blue;
    padding: 20px;
  }
  .timeline {
    border: 10px solid blue;
    padding: 20px;
  }
  .time {
    border-bottom: 1px dashed darkgrey;
    margin: 30px 0;
  }
  .line {
    display: inline;
    border-radius: 50%;
    padding: 10px;
    border: 2px solid darkgrey;
    color: aliceblue;
    background-color: rgba(100, 15, 179, 0.582);
  }
  .icon {
    display: flex;
    justify-content: center;
    font-size: 40px;
  }
}
